<!DOCTYPE html>
<html>
<head>
<style>
li {
  float: left;
}

.header {
  background-color:P #f1f1f1;
  padding: 20px;
  text-align: Left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
/* Change the link color to #111 (black) on hover */

li a:hover {
  background-color: #111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
img {
  width: 100%
}

</style>
</head>
<body>
<div class="header">
 <h2>TechProjects</h2>
 <p>Find out about the projects I have done</p>
</div>

<ul>
 <li><a href="/">Home</a></li>
 <li><a href="/mechatronics/">Mechatronics</a></li>
 <li><a href="Webdevelopment">Webdevelopment</a></li>
 <li><a href="Finance">Finance</a></li>
 <li><a href="Machinelearning">Machinelearning</a></li>
 <li><a href="/about/">My Story</a></li>
</ul>
<br>
<h4>VR telepresence</h4>
<p>At Imperial College I have worked on a system that would help people with diseases as
ALS feel more present in the room. It was part of the master course 'Human Centered Robotics' in
the department of Electrical and Electronic Engineering. I was part of a team with 3 PHD students
so that was quite an experience.</p>
<iframe width="420" height="345"
        src="https://www.youtube.com/embed/watch?v=1xWcyBKCNnM">
</iframe>
<p>
My job was to write the python code for controlling the robot arm, camera calibration and set-up
ROS to connect with the eye-gaze.
</p>
<p>click here to see the report: </p>
<a href="https://drive.google.com/file/d/1QcWV3eL9ch_mxHxwkqgc9suAHdlROckQ/view?usp=sharing">Report</a>
<div>
 <p>
 Picture of ROS melodic running on Ubuntu 18.
</p>
{% load static %}
<img src="ROS_main.png" alt="ROS" style="width:128px;height:128px;"/>
<br>
 <br>
 <p>The code that I have written to control the arm: main_control.py</p>
 <script src="https://gist.github.com/TimoThans33/95d2ef17856da3a1bc26384712d5f568.js"></script>
 </div>
</body>
</html>