
<html>
<head>
<style>
li {
  float: left;
}

.header {
  background-color:P #f1f1f1;
  padding: 20px;
  text-align: Left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
/* Change the link color to #111 (black) on hover */

li a:hover {
  background-color: #111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

</style>
</head>
<body>

<div class="header">
 <h2>TechProjects</h2>
 <p>Find out about the projects I have done</p>
</div>

<ul>
 <li><a href="/">Home</a></li>
 <li><a href="/mechatronics/">Mechatronics</a></li>
 <li><a href="Webdevelopment">Webdevelopment</a></li>
 <li><a href="Finance">Finance</a></li>
 <li><a href="Machinelearning">Machinelearning</a></li>
 <li><a href="/about/">My Story</a></li>
</ul>
<br>
  <h4>Welcome on this website dedicated to tech projects. I am Timo Thans, student
  at the Delft University of Technology. On this website I will document the projects
  that I have been doing. Sit back, relax and enjoy the content! It is some
  proper nerd stuff (; </h4>
<h4>Oh! And btw I programmed this site myself with Django and HTML5.</h4>
<h4> (28/12/2019) I have also added I golf related page</h4>
 </body>
</html>
