<html/>
<head>
<style>
li {
  float: left;
}

.header {
  background-color:P #f1f1f1;
  padding: 20px;
  text-align: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
/* Change the link color to #111 (black) on hover */

li a:hover {
  background-color: #111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

</style>
 <body>

<div class="header">
 <h2>TechProjects</h2>
 <p>Find out about the projects I have done</p>
</div>

<ul>
 <li><a href="/">Home</a></li>
 <li><a href="/mechatronics/">Mechatronics</a></li>
 <li><a href="/webdevelopment/">Webdevelopment</a></li>
 <li><a href="/finance/">Finance</a></li>
 <li><a href="/machinelearning/">Machinelearning</a></li>
 <li><a href="/about/">My Story</a></li>
</ul>
</head>
 <body>
  <h4>My Story:</h4>
  <p>
   I am Timo and I love to take on new and exciting projects.
   When I was little I have always liked sports and for a long time
   I was determined to become a professional golfer. This has taught
   me a lot about life. At some point I realized
   that in golf I was not getting anymore experience, but simply doing
   more of the same. Around this time I also started my undergraduate program
   in mechanical engineering at the Delft University of Technology. This is
   where I realized that even if you make it as a professional golfer
   this does not nessecarily mean you are a succesfull and nice person.
   There are so many other things you can do!
  </p>
  <p>
   Since I have started my studies I have tried to take on many
   projects to get more experience and try to make my own story.
   For example I took on two student jobs in a related field to my study.
   Two years ago I started at Prime Vision to do CAD design and 3D printing.
   I designed concepts for there autonomous robots. It was a lot of
   fun and it also helped me realized that I needed a lot more knowledge
   in programming and PCB design that I was not going to get in my
   mechanical engineering program. After this job I took on another
   job in the process engineering industry at Psicon where I still work
   mostly I do CFD (Computational Fluid Dynamics) analysis in ansys.
   But in the future I will also do process automation projects.
  </p>
  <p>
   As I have lived in the Rotterdam region all my live I decided it
   would be a great experience to live somewhere else for a while.
   I applied for an exchange to Imperial College London which is a
   very prestiguous exchange. (you need a 7.5 average). I got the spot
   and now I live in central London studying both Electrical Engineering
   and Computer science in one of the best university in the world.
   It definitely is as cool as it sounds!
  </p>
  <p>
   Enjoy the contents of this page, I hope that robotics and programming
   excites you as much as it does me! If you would like to
   implement some of the projects I have done,
   or if you have any questions don't hesitate to contact me:
  </p>
  <h6>Timo Thans</h6>
  <h6>16/03/2000 (19)</h6>
   <h6>timotopper@gmail.com</h6>
   <h6>+315 1614969524</h6>
  <a>https://github.com/TimoThans33</a>
<h4>Achievements</h4>
 <h6>High School graduate only 17 years old</h6>
 <h6>Youngest freshman 3ME (Mech. Eng.) faculty</h6>
 <h6>Exchange program to Imperial College London</h6>
 <h6>Dutch champion u21</h6>
 <h6>Dutch champion u16</h6>
 <h6>NOC*NSF elite sports status</h6>
 </body>
</html>
